/* font */

.quicksand-normal {
    font-family: "Quicksand", serif;
  }
  /* color sec */
  .blue-card{
    background: linear-gradient(#DEF5FF 0%, #FFFFFF 40%),#FFFFFF;
    border: 1px solid #DEF5FF;
  }
  .pink-card{
    background: linear-gradient(#FFF4DC 0%, #FFFFFF 40%),#FFFFFF;
    border: 1px solid #FFF4DC;
  }
  .purple-card{
    background: linear-gradient(#EEE1FF 0%, #FFFFFF 40%),#FFFFFF;
    border: 1px solid #EEE1FF;
  }
  .r-1{
    color: #64C8FF;
  }
  .r-2{
    color: #F0AA00;
  }
  .r-3{
    color: #8700FF;
  }


  /* nav styles */
  .navigation{
    padding: 20px 140px 0px 120px;
    display: flex;
    justify-content: space-around;
    gap: 190px;
  }
 .logo{
    display: flex;
 }
 .logo img{
    width: 62px;
    height: 62px;
 }
 .logo h2{
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0%;
 }
 .features-name{
  padding: 5px;
  margin-right: 80px;
 }
 ul{
   display: flex;
   gap: 40px;
 }
 ul li{
   list-style: none;
 }
 ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
 }
 #f-1{
  color: orange;
 }
 #f-2{
  color: skyblue;
 }
 #f-3{
  color: #05D4DF;
 }
 #f-4{
  color: #5D58EF;
 }
 .contact-btn{
  font-family: "Quicksand", serif;
  width: 197px;
  height: 50px;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: #FFA300;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600px;
 }
 .contact-btn:hover{
  background-color: #ffffff;
  border: #FFA300 1px solid ;
  cursor: pointer;
  color: orange;
 }
 .check-btn{
  font-size: 30px;
  color: black;
  float: right;
  margin-right: 50px;
  line-height: 100px;
  cursor: pointer;
  display: none;
}
.ham-icon{
  display: none;
}
.mobile{
  display: none;
}
/* banner-styles */
.banner-container{
  display: flex;
  gap: 50px;
  margin: 18px 140px;
}
.banner-text{
  margin-top: 122px;
}
.banner-header{
  padding-right: 150px;
  font-size: 56px;
  font-weight: bold;
  line-height: 61px;
  letter-spacing: 0%;
}
.ylo-text{
  color: orange;
}
.blu-text{
  color:  #01ACFD;
}
.banner-description{
  font-size: 20px;
  font-weight: 400;
  padding-right: 100px;
}
.banner-btn{
  margin-top: 24px;
}
.enroll-btn{
  font-family: "Quicksand", serif;
  width: 197px;
  height: 50px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: black;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600px;
}
 .enroll-btn:hover{
  background-color: #ffffff;
  border: black 1px solid ;
  cursor: pointer;
  color: black;
 }
.phn-banner-img{
  display: none;
}

/*  Curriculum styles*/

.curriculum_container{
  background-image: url(../assets/bg.png);
}
.curriculum_header{
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  line-height: 57px;
  letter-spacing: 0%;
}
.curriculum_card_container{
  margin: 18px 140px;
  display: flex;
  gap: 30pxpx;
  justify-content: space-around;
}
.curriculum_card{
  background-color: white;
  width: 367px;
  height: 476px;
  border-radius: 18px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card_img{
  width: 136px;
  height: 136px;
  margin: 52px 120px 0px;
}
.card_header{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 32px;
}
.card_description{
  padding: 0px 40px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 33px;
  color: rgba(128, 128, 128, 1);
} 
.read{
  margin-left: 132px;
  width: 80px;
}
.read_more{
  /* text-align: center; */
  font-size: 15px;
  font-weight: bold;
}
.read_more:hover{
  cursor: pointer;
}
.slide_icon{
  display: flex;
  margin: 80px 690px 60px;
  gap: 10px;
}
.slide{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: orange;
  width: 60px;
  height: 60px;
}
.slide:hover{
  cursor: pointer;
}








@media (max-width: 572px){ 
  .logo h2{
    display: none;
 } 
 .logo-img{
  display: none;
 }
li a{
    display: none;
  }
  .contact{
    display: none;
  }
  .ham-icon{
    display: block;
  }
  .mobile{
    display: block;
  }
  .mobile-nav{
    position: relative;
    top: -8px;
    left: -8px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border: 1px solid orange ;
  }
  .ham-icon{
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding: 10px;
  }
  .banner-container{
    display: none;
  }
  .phn-banner-img{
    display: block;
  }
  .phn-kid-img{
    padding: 10px 20px;
    width: 473px;
    height: 583px;
  }
  .phn-banner-header{
    position: relative;
    top: -110px;
    margin-left: 96px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0%;
  }
  .ylo-text{
    color: orange;
  }
  .blu-text{
    color:  #01ACFD;
  }
  .phn-banner-description{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: -110px;
    margin-left: 79px;
  }
  .phn-button{
    position: relative;
    top: -110px;
    margin-left: 179px;
  }
  .phn-enroll{
    width: 131px;
    height: 42px;
  }
}